.exp-block {
    background: #f8f9fa;
    margin: 10px 0 !important;
}

.exp-block .card {
    margin-bottom: 10px;
}


.work-title {
    font-family: 'Playfair Display', serif;
    font-size: 25px !important;
    font-weight: 600 !important;
}